body{
    background-color: #FEFCF3;
}

hr{
    border-width: 0px;
    width: 3%;
    border-bottom: 4px dotted #000;
    border-color: gray;
}

h3,h2,h1 {
       color: #EB6440;
    }

img{
    width: 170px;
    height: 170px;
}

